$primaryColor:#C06C84;
$primaryTextColor:#ffffff;
$primaryDarkColor:#B54D6A;
$inputFocusBorderColor:#C08D9C;
$highlightBgColor:#36C4B3;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';