$primaryColor:#00B4DB;
$primaryTextColor:#ffffff;
$primaryDarkColor:#0497B6;
$inputFocusBorderColor:#5AD0E9;
$highlightBgColor:#F35F31;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';