$primaryColor:#57CA85;
$primaryTextColor:#ffffff;
$primaryDarkColor:#30AA61;
$inputFocusBorderColor:#87DCA9;
$highlightBgColor:#E0608A;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';