/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2018, 09:45:45 AM
    Author     : gusta
*/
.ui-widget-content {
    border: 0px solid #a8a8a8;
    background: transparent;
    color: #4f4f4f;
}
.ui-panelgrid-cell {
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}