$primaryColor:#56AB2F;
$primaryTextColor:#ffffff;
$primaryDarkColor:#3B9014;
$inputFocusBorderColor:#7BC659;
$highlightBgColor:#8863C8;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';