$primaryColor:#147df0;
$primaryTextColor:#ffffff;
$primaryDarkColor:#1165c2;
$inputFocusBorderColor:#77aeeb;
$highlightBgColor:#ffaa00;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';