<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <!--
        Controlador principal de la conexion a la base de datos, inicia en automantico
        la configuracion dado el archivo hibernate.ctg.xml, y mapeando las clases
        configuradas en la base de datos.-->
       <bean id="ConnectionManager"
             class="com.gabyval.core.commons.controllers.PersistenceManager"
             init-method="getInstance"
             destroy-method=""
             scope="singleton"
        />
       
       
        <!--Carga del entorno del sistema, habilitando los servicios back end del 
        sistema.-->
        <bean id="EnviromentStartUp"
              class="com.gabyval.core.GBEnvironment"
              init-method="getInstance"
        />
       
        
        <!--Inicializacion del sistema de scheduler de GABYVAL.-->
        <!--<bean id="ScheduleService"
              class="com.gabyval.core.scheduler.GB_Scheduler"
              init-method="getInstance"
              destroy-method="stop"
        />-->
</beans>
