$primaryColor:#5F2C82;
$primaryTextColor:#ffffff;
$primaryDarkColor:#4D206D;
$inputFocusBorderColor:#714490;
$highlightBgColor:#49A09D;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';