$primaryColor:#d9427c;
$primaryTextColor:#ffffff;
$primaryDarkColor:#b33062;
$inputFocusBorderColor:#dd729b;
$highlightBgColor:#21a0b1;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';