$primaryColor:#96C93D;
$primaryTextColor:#ffffff;
$primaryDarkColor:#77A427;
$inputFocusBorderColor:#C1E77E;
$highlightBgColor:#FF8853;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';