$primaryColor:#136A8A;
$primaryTextColor:#ffffff;
$primaryDarkColor:#0E4F68;
$inputFocusBorderColor:#2C85A5;
$highlightBgColor:#FEB10F;
$highlightTextColor:#333333;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';