$primaryColor:#e96443;
$primaryTextColor:#ffffff;
$primaryDarkColor:#BD4C30;
$inputFocusBorderColor:#E67F65;
$highlightBgColor:#06bad2;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';