$primaryColor:#4B79A1;
$primaryTextColor:#ffffff;
$primaryDarkColor:#285984;
$inputFocusBorderColor:#698FB0;
$highlightBgColor:#C379B6;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';