$primaryColor:#4E54C8;
$primaryTextColor:#ffffff;
$primaryDarkColor:#3B41B9;
$inputFocusBorderColor:#686DD0;
$highlightBgColor:#FFC02F;
$highlightTextColor:#333333;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';