$primaryColor:#E94057;
$primaryTextColor:#ffffff;
$primaryDarkColor:#BC2B3F;
$inputFocusBorderColor:#F1687A;
$highlightBgColor:#36A4CC;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';