$primaryColor:#3D72B4;
$primaryTextColor:#ffffff;
$primaryDarkColor:#25548F;
$inputFocusBorderColor:#6191CC;
$highlightBgColor:#525252;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';