$primaryColor:#F3904F;
$primaryTextColor:#ffffff;
$primaryDarkColor:#CD6D2D;
$inputFocusBorderColor:#EBA77A;
$highlightBgColor:#525B94;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';